<!doctype html>
<html lang="zh-cmn-Hans">

<head>
  <!-- base -->
  <meta charset="utf-8">
  <!-- https 跳 http 能带 referer -->
  <meta content="always" name="referrer">
  <!-- 缩放控制，多用于 mobile -->
  <!-- <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"> -->

  <!-- performance -->
  <!-- dns-prefetch -->
  <!-- <link rel="dns-prefetch" href="//img002.qufenqi.com"> -->

  <!-- seo -->
  <!-- <meta name="keywords" content="" />  -->
  <!-- <meta name="description" content="" /> -->
  <!-- <meta name="robots" content="all"> -->

  <!-- Apple：https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html -->
  <!-- 是否默认进入全屏 -->
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <!-- 指定状态栏的颜色 -->
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black" -->

  <!-- UC -->
  <!-- 强制竖屏  -->
  <!-- <meta name=”screen-orientation” content=”portrait” -->
  <!-- 强制全屏  -->
  <!-- <meta name="full-screen" content="yes"/> -->

  <!-- QQ 浏览器 -->
  <!-- 强制竖屏  -->
  <!-- <meta name="x5-orientation" content="portrait"/> -->
  <!-- 强制全屏  -->
  <!-- <meta name="x5-fullscreen" content="true"/> -->
</head>

<body>
  <div id="root-slave"></div>
</body>

</html>